@font-face {
	font-family: 'Museo Sans Light';
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Bold';
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Black';
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot');
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Medium';
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot');
	src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin reg {
	font-family: 'Museo Sans Light', sans-serif;
	font-weight: 300;
}

@mixin Medium {
	font-family: 'Museo Sans Medium', sans-serif;
	font-weight: 500;
}

@mixin bold {
	font-family: 'Museo Sans bold', sans-serif;
	font-weight: 700;
}

@mixin black {
	font-family: 'Museo Sans black', sans-serif;
	font-weight: 900;
}

